# See https://aka.ms/containerignore for more information about this file.
bin/
obj/
.git/
.gitignore
*.md
!appsettings.json
!appsettings.Development.json
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.suo.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Dd]ockerfile*
docker-compose*.yml
*.log
.nuget/
packages/
*.nupkg
